@import '../../theme/variables.scss';
.componentList{
  section{
    margin-top: 0.2rem;
    font-size: $zfont-size;
    color: $font-color;
    dl{
      padding-left: 0.15rem;
      dt{
        border-radius: 0.06rem;
        margin-top: 0.1rem;
        padding: 0.1rem;
        background: white;
        img{
          float: right;
          width: 0.12rem;
          height: 0.2rem;
        }
      }
    }
  }
}