.loading {
  position: absolute;
  width: 90px;
  height: 80px;
  top: 200px;
  left: 50%;
  font-size: 27px;
  color: #337ab7;
  text-align: center;
  line-height: 77px;
  margin: 0 auto;
  margin-left: -45px;
  background-color: hsla(0, 0%, 0%, 0.27);
  border-radius: 7px;
  z-index: 100;
}