@import '../../theme/variables.scss';

.citySelect{
  section{
    background: white;
    padding: 0.15rem;
    select{
      padding-left: 0.1rem;
      margin-left: 2.6%;
      margin-right: 2.6%;
      border: 1px solid $border-color;
      height: 0.3rem;
      width: 28%;
      text-align: center;
      background: white;
      color: #B4B4B4;
      appearance:none;
      -moz-appearance:none;
      -webkit-appearance:none;
    }
  }
}